<div class="card-form-container">
    <mat-card class="card-login">
        <form class="form-login" #form="ngForm" (ngSubmit)="onSubmit(form)">
            <mat-card-title class="title-card-login">Lo<span>gin</span></mat-card-title>
            
            <mat-form-field class="card-form-input">
                <mat-label>Digite seu e-mail</mat-label>
                <input matInput [(ngModel)]="usuario.email" name="email" #email="ngModel" required email placeholder="fulano@gmail.com" 
                (blur)="updateErrorMessage()">
                <mat-error *ngIf="email.invalid && email.touched">
                    {{ errorMessage }}
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="card-form-input">
                <mat-label>Digite sua senha</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="usuario.senha" name="senha" #senha="ngModel" required>
                <button mat-icon-button matSuffix type="button" (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" 
                [attr.aria-pressed]="hide">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="senha.invalid && senha.touched">
                    {{ senha.hasError('required') ? 'Você deve inserir a sua senha' : '' }}
                </mat-error>
            </mat-form-field>
            
            <br />
            <div class="button-login">
                <button type="submit" class="button-salvar" mat-raised-button [disabled]="form.invalid">Entrar</button>
                <button type="button" (click)="cadastro()" class="button-calcelar" mat-raised-button>Cadastre-se</button>
            </div>
        </form>
    </mat-card>
</div>
