<div class="my-body">
  <nav class="container-nav" *ngIf="isUsuarioLogado()">
    <div class="sidenav">
      <div class="nav-list">
        <a routerLink="/" routerLinkActive="active">
          <i class="material-icons">home</i>
          Início
        </a>
        <a routerLink="/autores" routerLinkActive="active">
          <i class="material-icons">person</i>
          Autores
        </a>
        <a routerLink="/editoras" routerLinkActive="active">
          <i class="material-icons">apartment</i>
          Editoras
        </a>
        <a routerLink="/livros" routerLinkActive="active">
          <i class="material-icons">auto_stories</i>
          Livros
        </a>
      </div>
    </div>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
